@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100 700;
    font-display: optional;
    src: url('../assets/fonts/RobotoMono-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 100 700;
    font-display: optional;
    src: url('../assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
  }